@model WikY.Models.Article
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Theme</h2>
<h3>Crée par : @Model.Auteur </h3>
<p>Editer le @Model.DateCreation</p>

<p>@Model.Contenu</p>

@Html.ActionLink("Modifier l'article", "Edit", "Article", new { id = Model.Id }, new { @class = "btn btn-primary" })

@Html.ActionLink("Supprimer l'article", "Delete", "Article", new { id = Model.Id }, new { @class = "btn btn-danger" })

@Html.ActionLink("Ajouter un commentaire", "Create", "Commentaires", new { idArticle = Model.Id }, new { @class = "btn btn-danger" })

<ul class="list-group">
    @foreach (var commentaire in Model.Commentaires)
    {
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                    @commentaire.Auteur
                </div>
                <div class="card-body">
                    @commentaire.Contenu
                    <p class="font-weight-light">@commentaire.DateCreation</p>
                    @Html.ActionLink("Supprimer", "Delete", "Commentaires", new { id = commentaire.Id }, new { @class = "btn btn-danger" })
                </div>
            </div>
        </li>
    }
</ul>

