@model  WikY.Models.Article

<div class="card">
    <div class="card-header">
        <p>Theme : <strong>@Model.Theme</strong> </p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Auteur : @Model.Auteur</h5>
        <blockquote class="blockquote mb-0">
            <p class="card-text">@Model.Contenu.Substring(0, Model.Contenu.Length < 300 ? Model.Contenu.Length - 1 : 300)</p>
            <footer class="blockquote-footer">  @Model.DateCreation</footer>
        </blockquote>

    </div>
    <div class="card-footer ">
        @Html.ActionLink("Detaille de l'article", "Details", "Article", new { id = Model.Id }, new { @class = "btn btn-primary" })
    </div>
</div>

<br />
