@model WikY.Models.Article

<div class="card">
    <div class="card-header">
        <h4>@Model.Theme</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Crée par : @Model.Auteur </h5>
        <blockquote class="blockquote mb-0">
            <p>@Model.Contenu</p>
            <footer class="blockquote-footer">Crée le @Model.DateCreation</footer>
        </blockquote>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Modifier l'article", "Edit", "Article", new { id = Model.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Supprimer l'article", "Delete", "Article", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
</div>

<div class="card m-2">
    <h5 class="card-title"> Ajouter un commentaire</h5>
    <div class="card-body" id="CommentaireZone">
        @Html.Partial("_CommentaireForm", new WikY.Models.Commentaire() { ArticleId = Model.Id })
    </div>
</div>

<div id="commentaires">
    @Html.Partial("_ZoneCommentaires", Model.Commentaires)
</div>

@section scripts{
    <script>
        $('#myForm').submit(function (e) {
            e.preventDefault();
            $.post('/Commentaires/CreatePartial/@Model.Id', {
                ArticleId: $('#ArticleId').val(),
                Auteur: $('#Auteur').val(),
                Contenu: $('#Contenu').val()
            }, function (data) {
                $('#commentaires').html(data);
            })
        })
    </script>
}
