@model WikY.Models.Article


<div class="container">

    @using (Html.BeginForm())
    {
    <div hidden>
        @Html.AntiForgeryToken()
        </div>
        <div>
            @Html.LabelFor(a => a.Auteur, null, new { @class = "form-label" })
            @Html.EditorFor(a => a.Auteur)
            @Html.ValidationMessageFor(a => a.Auteur, null, new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(a => a.Theme, null, new { @class = "form-label" })
            @Html.EditorFor(a => a.Theme)
            @Html.ValidationMessageFor(a => a.Theme, null, new { @class = "text-danger" })
        </div>
        <div>
            @Html.LabelFor(a => a.Contenu, null, new { @class = "form-label" })
            <div>
                @Html.EditorFor(a => a.Contenu, new { htmlAttributes = new { rows = "15" ,value="text" } })
            </div>

            @Html.ValidationMessageFor(a => a.Contenu, null, new { @class = "text-danger" })
        </div>
        <input type="submit" value="Valider" />
    }
</div>
